html {
background-color:  #f7f7f7;
}

.logo {
    margin-top: 100px;
    margin-left: 265px;
    margin-bottom: 90px;
}

.body {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 265px;
    margin-top: 8px;
}

.starter {
    margin-left: 265px;
    margin-top: 8px;
}

.download {
    text-align: center;
    margin-bottom: 95px;
}

#footer {
    position:relative;
    overflow: auto;
    bottom: 0px;
    background-color:#d9d9d9;
    width: 100%;
    text-align: center;
}